body{
  font-family: 'Montserrat' sans-serif;
  padding-top: 0;
  padding-bottom: 0;
}

@media only screen and (min-width:1200px){
	.nav-item > .nav-link{padding: 5px 20px !important;
		display: block !important;}
}

@media only screen and (max-width:992px){
	.header-inner{background-color: rgb(20, 65, 140)!important;
	}
	.nav-item > .nav-link{
		color: white!important}

}

/* ---------------------- NAVBAR ---------------------- */

.header{position: relative;
  width: 100%;
  }
  
.header-inner{position: absolute;
top: 0;
left: 0;
width:100%;
z-index: 99;
background-color: transparent;
}


.navbar-brand img {
  height: 30px;
  padding-left: 2rem;
}

.nav-item .nav-link{display: block;
  line-height: 36px;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700;
  letter-spacing: .1rem;
  color: #ffffff;
  transition: 0.15s;}
  
.navbar-nav li {
  padding-right: .7rem;
}


.nav-item .nav-link:hover{color: rgb(60, 105, 240);}

.navbar-scroll{background-color: rgb(20, 65, 140);
  padding: 0;
  position: fixed;
  top:0;
  z-index: 99;
  box-shadow:0px 1px 10px rgba(0,0,0,0.4);
  transition-duration: 0.6s; }
  
.navbar-scroll .nav-item .nav-link{color: white;
}


/* ---------------------- Botones ---------------------- */

.btn-lg{
  border-width: medium;
  border-radius: 0;
}

.btn-lg:hover {
  background-color: rgb(20, 65, 140);
  color: white;
}

.heading-underline{
  width: 3rem;
  height: .2rem;
  background-color: yellow;
  margin: 0 auto 2;
}

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
  padding: 1rem;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px!important;
  margin-right: 0px!important;
}
/* ---------------------- Carrusel ---------------------- */

.carousel-item {
  height: 80vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
}

.carousel-item::before{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.slide img {
  height: 80vh;
}

.carousel-caption {
  font-size: 2rem;
  text-shadow: .1rem .1rem .8rem black;
}

/*---Change Carousel Transition Speed --*/
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block;
  transition: -webkit-transform 1.2s ease;
  transition: transform 1.2s ease;
  transition: transform 1.2s ease,-webkit-transform 1.2s ease;
}



/* ---------------------- Fin del carrusel ---------------------- */

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}


#brands {
  display: inline-flex;
  width: 100%;
}

#brands img {
  width: 75%;
  min-height:100px;
}

/* ---------------------- Contacto ---------------------- */

#services .card img {
  height: 240px;
}

/* ---------------------- Contacto ---------------------- */

.contact-div{
  background-color: rgb(20, 65, 140);
  border-radius: 5px;
  padding: 10px 0px;
  text-align: center;
}

#contact h3 {
  color: white;
}

#contact form {
  width: 40%;
  display: block;
  margin: auto;
}

#contact img {
  width: 25%;
  min-height: 50px;
}

#message_sent{
  color: white;
  
}

/*.form-control{
  margin: -10px;
}*/


#contact .btn-primary {
  background-color: rgb(20, 65, 140);
  text-align: center;
}


/* ---------------------- Footer ---------------------- */

#footer_img {
  margin: auto;
  width: 20%;
  text-align: center;
  min-width: 200px;
}